


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron" style="padding: 0;">
                  <h1 class="display-5">BEHIND THE LENS</h1>
              </div>
            </div>
          </div>

    <div class="img-row">
        <div class="img-column">
            <div class = "card self-portrait">
                <div class="card-body">
                  <img src="../assets/betty.photo.jpg" class="card-img-top" alt="...">
                </div>
              </div>
        </div>
        <div>
            <br>
        </div>
        <div class="img-column">
            <div class="card self-portrait">
                <div class="card-body">
                  <p>
                    "I'm Bettynah, Dely! Owner of
                    <i>
                      Bee Beautiful Photography.
                    </i>
                    Currently residing in PG County Hyattsville, MD. I am a Lifestyle Portrait Photographer. My love for Photography started
                    out shooting in nature as my hobby. Whenever i had some free time i would grab my camera, go on a hike and wandered
                    out into nature. The beauty of nature is what made me fell in love with photography. Something about being surrounded
                    with God creations capturing his work as they are flaws and all bought a sense of joy inside of me. When i decided
                    to turn photography into my career i made a promise to myself to capture my clients essence and beauty as they
                    are."
                  </p>
                </div>
                </div>
        </div>
      </div>
</div>
