
@media only screen and (max-width: 767px) {
  .betty-lg{
    display: none;
  }
  .img-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* Collage */
@media only screen and (min-width: 767px) {
  .betty-sm{
    display: none;
  }
  .img-column {
    -ms-flex: 45%; /* IE10 */
    flex: 45%;
    max-width: 45%;
    padding: 0 4px;
  }
}

.img-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.img-column img {
  height: 100%;
  object-fit: cover;
}

p{
  font-size: 2vh;
}
