<nav class="navbar navbar-light" >

  <div id="navMove">

      <ul class="navbar-nav navbar-collapse" id="navbarSupportedContent">
        <img src="../assets/bee's-photos/bbp-logo.small.jpeg" class="logo">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive= "active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive= "active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/services']" routerLinkActive= "active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive= "active">Contact Us</a>
        </li>
      </ul>

  </div>
</nav>
