
@media only screen and (min-width: 767px) {
  .logo{
    font-family: cursive;
    width: 25vw;
    margin-left: 5%;
    margin-right: 7%;
  }

  nav ul {
    max-width: 100vw;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  nav ul li{
    min-width: 11%;
    padding-top: 30px;
    padding-left: 8px;
  }

  #navMove{
    height: 100%;
    width: 100%;
    }

  nav {
    background-color: rgba(0, 0, 0, 0.305);
    padding: 10px;
    height: 18vh;
    position: fixed;
    width: 100%;
    z-index: 30;
  }


}
a{
  color: rgb(255, 255, 255) !important;
  font-size: 5vh;
  font-family: cursive;
}

.active {
  color: rgb(254, 237, 148) !important;
}

@media only screen and (max-width: 767px) {
  nav{
    display: none;
  }

}



