
@media screen and (max-width: 991px) {
  .container{
    top: 15vh;
  }
}

mat-form-field{
  width: 30vw;
}
mat-hint, mat-error{
  font-size: 2vh;
}
br{
  line-height: 15vh;;
}

input, mat-label, mat-select, textarea {
  font-size: 3vh;
}
.jumbotron{
  background-color: aliceblue;
  height: 60vh;
  padding-top: 10px;
}

.logo{
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.49);
  font-family: cursive;
  width: 30vw;
  border-style: outset;
  border-width: 13px;
}
#logo{
  width: 100%;
  height: 100%;
}
