

@media only screen and (max-width: 767px) {
  mat-drawer-container{
    position: unset!important;
}

  #toggleButton{
    width: 4vw;
    position: fixed;
    z-index: 500;
    top: 20vh;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .mat-raised-button.mat-primary{
    background-color: rgba(255, 255, 255, 0.853);
  }

  .menu{
    margin-top: 50%;
    height: 4vh;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EMenu%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer2' fill='none' stroke='%23202020' stroke-miterlimit='10' stroke-width='2' d='M2 8h60v8H2zm0 20h60v8H2z' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3Cpath data-name='layer1' fill='none' stroke='%23202020' stroke-miterlimit='10' stroke-width='2' d='M2 48h60v8H2z' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

mat-drawer{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.661);
}

  nav{
    width: 55vw;
  }

  nav ul {
    list-style-type: none;
    margin-top: 25vh;
  }

  nav ul li{
    font-size: 5vh;
    font-family: cursive;
    text-align: center;
  }
  nav ul li a{
    color: rgb(0, 0, 0);
  }
  .active {
    color: rgb(252, 227, 99) !important;
  }

  .contact-button{
    display:none;
  }
}

@media only screen and (min-width: 767px) {

  .contact-button{
    display: initial;
  }

  mat-drawer-container{
    display: none;
  }

  #toggleButton{
    display: none;
  }
}
