<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="jumbotron" style="padding: 0; margin-bottom: 0;">
            <h1 class="display-5">Services</h1>
        </div>
      <div class="card" style="height: 70vh; background-color: aliceblue">
        <div class="card-body">
          <div class="row" style="margin-top: 20px;">
              <div *ngIf="collection === 'Explore Collections'" class="card col-7 float-left">
                  <img class="d-block w-100" style="margin-top: 20px;" src="../../assets/bee's-photos/bbp-logo.small.jpeg" alt="Second slide">
                </div>

            <!-- Portrait Carousel -->
            <div *ngIf="collection === 'Portraits'" class="card col-7 float-left">
              <div class="card-body">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="../../assets/bee's-photos/portrait/PT_1.JPG" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/bee's-photos/portrait/PT_2.JPG" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/bee's-photos/portrait/PT_3.JPG" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-80" src="../../assets/bee's-photos/portrait/PT_4.JPG" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/bee's-photos/portrait/PT_5.JPG" alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/bee's-photos/portrait/PT_6.JPG" alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                      <img style="  display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;" src="../../assets/bee's-photos/portrait/PT_7.JPG" alt="Seventh slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/bee's-photos/portrait/PT_8.JPG" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/bee's-photos/portrait/PT_9.JPG" alt="Third slide">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div *ngIf="collection === 'Boudoir'" class="card col-7 float-left">
                <div class="card-body">
                <!-- Boudoir Carousel -->

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_1.JPG" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_2.JPG" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_3.JPG" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-80" src="../../assets/bee's-photos/boudoir/BD_4.JPG" alt="Fourth slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_5.JPG" alt="Fifth slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_6.JPG" alt="Sixth slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_7.JPG" alt="Seventh slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_8.JPG" alt="Eighth slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_9.JPG" alt="Ninth slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/bee's-photos/boudoir/BD_10.JPG" alt="Tenth slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            <div class="card col-4 float-right">
              <div class="card-body">
                  <div class="dropdown mx-auto" style="width: 200px; margin-top: 20px;">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{collection}}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button type="button" class="dropdown-item" (click)="portraits()">Portraits</button>
                        <button type="button" class="dropdown-item" (click)="boudoir()"> Boudoir</button>
                      </div>
                    </div>

                    <!-- Portrait Collage  -->
<div *ngIf="collection === 'Portraits'" class="img-row">
    <div class="img-column">
      <img src="../../assets/bee's-photos/portrait/PT_1.JPG">
      <img src="../../assets/bee's-photos/portrait/PT_2.JPG">
      <img src="../../assets/bee's-photos/portrait/PT_3.JPG">

    </div>
    <div class="img-column">
      <img src="../../assets/bee's-photos/portrait/PT_7.JPG">
      <img src="../../assets/bee's-photos/portrait/PT_6.JPG">

    </div>
    <div class="img-column">
      <img src="../../assets/bee's-photos/portrait/PT_8.JPG">
      <img src="../../assets/bee's-photos/portrait/PT_5.JPG">
    </div>
  </div>
  <br>
<!-- Boudoir Collage end -->

<!-- Boudoir Collage  -->
<div *ngIf="collection === 'Boudoir'"class="img-row">
    <div class="img-column">
      <img src="../../assets/bee's-photos/boudoir/BD_1.JPG">
      <img src="../../assets/bee's-photos/boudoir/BD_2.JPG">
      <img src="../../assets/bee's-photos/boudoir/BD_7.JPG">
    </div>
    <div class="img-column">
        <img src="../../assets/bee's-photos/boudoir/BD_3.JPG">
        <img src="../../assets/bee's-photos/boudoir/BD_6.JPG">

    </div>
    <div class="img-column">
        <img src="../../assets/bee's-photos/boudoir/BD_4.JPG">
        <img src="../../assets/bee's-photos/boudoir/BD_5.JPG">
    </div>
  </div>

<!-- Boudoir Collage end -->
<div class="dropdown mx-auto" style="width: 200px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      {{package}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button type="button" class="dropdown-item" (click)="package1()">Package 1</button>
      <button type="button" class="dropdown-item" (click)="package2()"> Package 2</button>
      <button type="button" class="dropdown-item" (click)="package3()"> Package 3</button>
    </div>
  </div>
  <br>
  <div class="row" >
    <!-- Package1 -->
      <div class="jumbotron" *ngIf="package== 'Package 1'">
        <h1 class="display-5">Package 1</h1>
        <div class="card self-portrait">
          <div class="card-body">
            <p>
              <svg class="svg-icon" viewBox="0 0 20 20">
                <path d="M10.25,2.375c-4.212,0-7.625,3.413-7.625,7.625s3.413,7.625,7.625,7.625s7.625-3.413,7.625-7.625S14.462,2.375,10.25,2.375M10.651,16.811v-0.403c0-0.221-0.181-0.401-0.401-0.401s-0.401,0.181-0.401,0.401v0.403c-3.443-0.201-6.208-2.966-6.409-6.409h0.404c0.22,0,0.401-0.181,0.401-0.401S4.063,9.599,3.843,9.599H3.439C3.64,6.155,6.405,3.391,9.849,3.19v0.403c0,0.22,0.181,0.401,0.401,0.401s0.401-0.181,0.401-0.401V3.19c3.443,0.201,6.208,2.965,6.409,6.409h-0.404c-0.22,0-0.4,0.181-0.4,0.401s0.181,0.401,0.4,0.401h0.404C16.859,13.845,14.095,16.609,10.651,16.811 M12.662,12.412c-0.156,0.156-0.409,0.159-0.568,0l-2.127-2.129C9.986,10.302,9.849,10.192,9.849,10V5.184c0-0.221,0.181-0.401,0.401-0.401s0.401,0.181,0.401,0.401v4.651l2.011,2.008C12.818,12.001,12.818,12.256,12.662,12.412"></path>
              </svg>
              1 hour
              <br>

              <svg class="svg-icon" viewBox="0 0 20 20">
                <path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589"></path>
              </svg>
              1 location
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Glasses</title>
                <desc>A line styled icon from Orion Icon Library.</desc>
                <path data-name="layer2" d="M4.4 33.4L4 34S2.6 52 16 52s12-16 12-16m31.7-2.6l.4.6s1.4 18-12 18-12-16-12-16" fill="none" stroke="#202020"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                <path data-name="layer1" d="M26.1 18c0-4.7-3.1-7.6-6.6-5s-13 17.2-15 20.4M38.1 18c0-4.7 3.1-7.6 6.6-5s13 17.3 15 20.4" fill="none"
                  stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                <path data-name="layer1" d="M62 34.5S48 26 36 36h-8C16.1 26 2.1 34.5 2.1 34.5" fill="none" stroke="#202020" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2"></path>
              </svg>
              1 Outfit
              <br>
              <svg class="svg-icon" viewBox="0 0 20 20">
                <path d="M18.555,15.354V4.592c0-0.248-0.202-0.451-0.45-0.451H1.888c-0.248,0-0.451,0.203-0.451,0.451v10.808c0,0.559,0.751,0.451,0.451,0.451h16.217h0.005C18.793,15.851,18.478,14.814,18.555,15.354 M2.8,14.949l4.944-6.464l4.144,5.419c0.003,0.003,0.003,0.003,0.003,0.005l0.797,1.04H2.8z M13.822,14.949l-1.006-1.317l1.689-2.218l2.688,3.535H13.822z M17.654,14.064l-2.791-3.666c-0.181-0.237-0.535-0.237-0.716,0l-1.899,2.493l-4.146-5.42c-0.18-0.237-0.536-0.237-0.716,0l-5.047,6.598V5.042h15.316V14.064z M12.474,6.393c-0.869,0-1.577,0.707-1.577,1.576s0.708,1.576,1.577,1.576s1.577-0.707,1.577-1.576S13.343,6.393,12.474,6.393 M12.474,8.645c-0.371,0-0.676-0.304-0.676-0.676s0.305-0.676,0.676-0.676c0.372,0,0.676,0.304,0.676,0.676S12.846,8.645,12.474,8.645"></path>
              </svg>
              Private Online Gallery
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Edit Woman Account</title>
                <desc>A line styled icon from Orion Icon Library.</desc>
                <path data-name="layer2" d="M36.9 50H2s0-6 7-8 9-4.4 9-6v-2a61.4 61.4 0 0 1-12-2c3.3-3.3 6-4.3 6-18 0-6 3.7-11.6 10-11.6s14 0 14 11.6c0 13.7 2.7 14.7 6 18a61.7 61.7 0 0 1-12 2v2c0 1.6 1.1 3.7 9 6a10.6 10.6 0 0 1 3.9 2"
                  fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M56 31L35.2 51.7 30.8 62l10.4-4.3L62 37l-6-6zM35.2 51.7l6 6"
                  stroke-linejoin="round" stroke-linecap="round"></path>
              </svg>
              Professionally edited
              <br>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>USB Logo</title>
                <desc>A line styled icon from Orion Icon Library.</desc>
                <path data-name="layer2" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M25.5 8.5L32 2l6.5 6.5M20 28v5.5a4 4 0 0 0 2.3 3.7L32 42m12-18v5.5a4 4 0 0 1-2.3 3.7L32 38m0 12V2"></path>
                <circle data-name="layer1" cx="20" cy="24" r="4" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"></circle>
                <path data-name="layer1" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M40 16h8v8h-8z"></path>
                <circle data-name="layer1" cx="32" cy="56" r="6" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"></circle>
              </svg>Custom USB drive
              <br>
              <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Cash Dispenser</title>
                <desc>A line styled icon from Orion Icon Library.</desc>
                <path stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" d="M14 26H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3v18a3 3 0 0 1-3 3h-9"
                  data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                <path d="M14 17.996h-4V10h43.998v7.996h-3.996" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2"
                  stroke-linejoin="round" stroke-linecap="round"></path>
                <path d="M49.996 10.004v43.992H13.998V10.004M40 54a10 10 0 0 1 10-10m-36 0a10 10 0 0 1 10 10" stroke-width="2" stroke-miterlimit="10"
                  stroke="#202020" fill="none" data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                <path d="M12 62h40" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer1" stroke-linejoin="round"
                  stroke-linecap="round"></path>
                <path stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" d="M27 30.488a5 5 0 0 0 5 5c2.762 0 5-1.821 5-4.584s-2.5-4.018-5-4.582-5-1.824-5-4.584 2.238-4.584 5-4.584a5.006 5.006 0 0 1 4.93 4.166"
                  stroke-linejoin="round" stroke-linecap="round"></path>
                <path d="M31.996 17.154v-2.5m0 23.334v-2.5" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer1"
                  stroke-linejoin="round" stroke-linecap="round"></path>
              </svg>
              $175
            </p>
          </div>
        </div>
        <br>
      </div>
<!-- Package2 -->
      <div class="jumbotron" *ngIf="package == 'Package 2'">
          <h1 class="display-5">Package 2</h1>
          <div class="card self-portrait">
            <div class="card-body">
              <p>
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M10.25,2.375c-4.212,0-7.625,3.413-7.625,7.625s3.413,7.625,7.625,7.625s7.625-3.413,7.625-7.625S14.462,2.375,10.25,2.375M10.651,16.811v-0.403c0-0.221-0.181-0.401-0.401-0.401s-0.401,0.181-0.401,0.401v0.403c-3.443-0.201-6.208-2.966-6.409-6.409h0.404c0.22,0,0.401-0.181,0.401-0.401S4.063,9.599,3.843,9.599H3.439C3.64,6.155,6.405,3.391,9.849,3.19v0.403c0,0.22,0.181,0.401,0.401,0.401s0.401-0.181,0.401-0.401V3.19c3.443,0.201,6.208,2.965,6.409,6.409h-0.404c-0.22,0-0.4,0.181-0.4,0.401s0.181,0.401,0.4,0.401h0.404C16.859,13.845,14.095,16.609,10.651,16.811 M12.662,12.412c-0.156,0.156-0.409,0.159-0.568,0l-2.127-2.129C9.986,10.302,9.849,10.192,9.849,10V5.184c0-0.221,0.181-0.401,0.401-0.401s0.401,0.181,0.401,0.401v4.651l2.011,2.008C12.818,12.001,12.818,12.256,12.662,12.412"></path>
                </svg>
                2 hours
                <br>

                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589"></path>
                </svg>
                1 location
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Glasses</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer2" d="M4.4 33.4L4 34S2.6 52 16 52s12-16 12-16m31.7-2.6l.4.6s1.4 18-12 18-12-16-12-16" fill="none" stroke="#202020"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                  <path data-name="layer1" d="M26.1 18c0-4.7-3.1-7.6-6.6-5s-13 17.2-15 20.4M38.1 18c0-4.7 3.1-7.6 6.6-5s13 17.3 15 20.4" fill="none"
                    stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                  <path data-name="layer1" d="M62 34.5S48 26 36 36h-8C16.1 26 2.1 34.5 2.1 34.5" fill="none" stroke="#202020" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></path>
                </svg>
                2 Outfits
                <br>
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M18.555,15.354V4.592c0-0.248-0.202-0.451-0.45-0.451H1.888c-0.248,0-0.451,0.203-0.451,0.451v10.808c0,0.559,0.751,0.451,0.451,0.451h16.217h0.005C18.793,15.851,18.478,14.814,18.555,15.354 M2.8,14.949l4.944-6.464l4.144,5.419c0.003,0.003,0.003,0.003,0.003,0.005l0.797,1.04H2.8z M13.822,14.949l-1.006-1.317l1.689-2.218l2.688,3.535H13.822z M17.654,14.064l-2.791-3.666c-0.181-0.237-0.535-0.237-0.716,0l-1.899,2.493l-4.146-5.42c-0.18-0.237-0.536-0.237-0.716,0l-5.047,6.598V5.042h15.316V14.064z M12.474,6.393c-0.869,0-1.577,0.707-1.577,1.576s0.708,1.576,1.577,1.576s1.577-0.707,1.577-1.576S13.343,6.393,12.474,6.393 M12.474,8.645c-0.371,0-0.676-0.304-0.676-0.676s0.305-0.676,0.676-0.676c0.372,0,0.676,0.304,0.676,0.676S12.846,8.645,12.474,8.645"></path>
                </svg>
                Private Online Gallery
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Edit Woman Account</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer2" d="M36.9 50H2s0-6 7-8 9-4.4 9-6v-2a61.4 61.4 0 0 1-12-2c3.3-3.3 6-4.3 6-18 0-6 3.7-11.6 10-11.6s14 0 14 11.6c0 13.7 2.7 14.7 6 18a61.7 61.7 0 0 1-12 2v2c0 1.6 1.1 3.7 9 6a10.6 10.6 0 0 1 3.9 2"
                    fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                  <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M56 31L35.2 51.7 30.8 62l10.4-4.3L62 37l-6-6zM35.2 51.7l6 6"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                Professionally edited
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>USB Logo</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer2" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M25.5 8.5L32 2l6.5 6.5M20 28v5.5a4 4 0 0 0 2.3 3.7L32 42m12-18v5.5a4 4 0 0 1-2.3 3.7L32 38m0 12V2"></path>
                  <circle data-name="layer1" cx="20" cy="24" r="4" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></circle>
                  <path data-name="layer1" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M40 16h8v8h-8z"></path>
                  <circle data-name="layer1" cx="32" cy="56" r="6" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></circle>
                </svg>Custom USB drive
                <br>
                <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Cash Dispenser</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" d="M14 26H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3v18a3 3 0 0 1-3 3h-9"
                    data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M14 17.996h-4V10h43.998v7.996h-3.996" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M49.996 10.004v43.992H13.998V10.004M40 54a10 10 0 0 1 10-10m-36 0a10 10 0 0 1 10 10" stroke-width="2" stroke-miterlimit="10"
                    stroke="#202020" fill="none" data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M12 62h40" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer1" stroke-linejoin="round"
                    stroke-linecap="round"></path>
                  <path stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" d="M27 30.488a5 5 0 0 0 5 5c2.762 0 5-1.821 5-4.584s-2.5-4.018-5-4.582-5-1.824-5-4.584 2.238-4.584 5-4.584a5.006 5.006 0 0 1 4.93 4.166"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M31.996 17.154v-2.5m0 23.334v-2.5" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer1"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                $350
              </p>
            </div>
          </div>
          <br>

      </div>
      <!-- Package3 -->
      <div class="jumbotron" *ngIf="package== 'Package 3'">
          <h1 class="display-5">Package 3</h1>

          <div class="card self-portrait">
            <div class="card-body">
              <p>
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M10.25,2.375c-4.212,0-7.625,3.413-7.625,7.625s3.413,7.625,7.625,7.625s7.625-3.413,7.625-7.625S14.462,2.375,10.25,2.375M10.651,16.811v-0.403c0-0.221-0.181-0.401-0.401-0.401s-0.401,0.181-0.401,0.401v0.403c-3.443-0.201-6.208-2.966-6.409-6.409h0.404c0.22,0,0.401-0.181,0.401-0.401S4.063,9.599,3.843,9.599H3.439C3.64,6.155,6.405,3.391,9.849,3.19v0.403c0,0.22,0.181,0.401,0.401,0.401s0.401-0.181,0.401-0.401V3.19c3.443,0.201,6.208,2.965,6.409,6.409h-0.404c-0.22,0-0.4,0.181-0.4,0.401s0.181,0.401,0.4,0.401h0.404C16.859,13.845,14.095,16.609,10.651,16.811 M12.662,12.412c-0.156,0.156-0.409,0.159-0.568,0l-2.127-2.129C9.986,10.302,9.849,10.192,9.849,10V5.184c0-0.221,0.181-0.401,0.401-0.401s0.401,0.181,0.401,0.401v4.651l2.011,2.008C12.818,12.001,12.818,12.256,12.662,12.412"></path>
                </svg>
                3 hours
                <br>

                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M10,1.375c-3.17,0-5.75,2.548-5.75,5.682c0,6.685,5.259,11.276,5.483,11.469c0.152,0.132,0.382,0.132,0.534,0c0.224-0.193,5.481-4.784,5.483-11.469C15.75,3.923,13.171,1.375,10,1.375 M10,17.653c-1.064-1.024-4.929-5.127-4.929-10.596c0-2.68,2.212-4.861,4.929-4.861s4.929,2.181,4.929,4.861C14.927,12.518,11.063,16.627,10,17.653 M10,3.839c-1.815,0-3.286,1.47-3.286,3.286s1.47,3.286,3.286,3.286s3.286-1.47,3.286-3.286S11.815,3.839,10,3.839 M10,9.589c-1.359,0-2.464-1.105-2.464-2.464S8.641,4.661,10,4.661s2.464,1.105,2.464,2.464S11.359,9.589,10,9.589"></path>
                </svg>
                2 locations
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Glasses</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer2" d="M4.4 33.4L4 34S2.6 52 16 52s12-16 12-16m31.7-2.6l.4.6s1.4 18-12 18-12-16-12-16" fill="none" stroke="#202020"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                  <path data-name="layer1" d="M26.1 18c0-4.7-3.1-7.6-6.6-5s-13 17.2-15 20.4M38.1 18c0-4.7 3.1-7.6 6.6-5s13 17.3 15 20.4" fill="none"
                    stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                  <path data-name="layer1" d="M62 34.5S48 26 36 36h-8C16.1 26 2.1 34.5 2.1 34.5" fill="none" stroke="#202020" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2"></path>
                </svg>
                3 Outfits
                <br>
                <svg class="svg-icon" viewBox="0 0 20 20">
                  <path d="M18.555,15.354V4.592c0-0.248-0.202-0.451-0.45-0.451H1.888c-0.248,0-0.451,0.203-0.451,0.451v10.808c0,0.559,0.751,0.451,0.451,0.451h16.217h0.005C18.793,15.851,18.478,14.814,18.555,15.354 M2.8,14.949l4.944-6.464l4.144,5.419c0.003,0.003,0.003,0.003,0.003,0.005l0.797,1.04H2.8z M13.822,14.949l-1.006-1.317l1.689-2.218l2.688,3.535H13.822z M17.654,14.064l-2.791-3.666c-0.181-0.237-0.535-0.237-0.716,0l-1.899,2.493l-4.146-5.42c-0.18-0.237-0.536-0.237-0.716,0l-5.047,6.598V5.042h15.316V14.064z M12.474,6.393c-0.869,0-1.577,0.707-1.577,1.576s0.708,1.576,1.577,1.576s1.577-0.707,1.577-1.576S13.343,6.393,12.474,6.393 M12.474,8.645c-0.371,0-0.676-0.304-0.676-0.676s0.305-0.676,0.676-0.676c0.372,0,0.676,0.304,0.676,0.676S12.846,8.645,12.474,8.645"></path>
                </svg>
                Private Online Gallery
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Edit Woman Account</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer2" d="M36.9 50H2s0-6 7-8 9-4.4 9-6v-2a61.4 61.4 0 0 1-12-2c3.3-3.3 6-4.3 6-18 0-6 3.7-11.6 10-11.6s14 0 14 11.6c0 13.7 2.7 14.7 6 18a61.7 61.7 0 0 1-12 2v2c0 1.6 1.1 3.7 9 6a10.6 10.6 0 0 1 3.9 2"
                    fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                  <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M56 31L35.2 51.7 30.8 62l10.4-4.3L62 37l-6-6zM35.2 51.7l6 6"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                Professionally edited
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>USB Logo</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer2" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M25.5 8.5L32 2l6.5 6.5M20 28v5.5a4 4 0 0 0 2.3 3.7L32 42m12-18v5.5a4 4 0 0 1-2.3 3.7L32 38m0 12V2"></path>
                  <circle data-name="layer1" cx="20" cy="24" r="4" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></circle>
                  <path data-name="layer1" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M40 16h8v8h-8z"></path>
                  <circle data-name="layer1" cx="32" cy="56" r="6" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"></circle>
                </svg>Custom USB drive
                <br>
                <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Cash Dispenser</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" d="M14 26H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3v18a3 3 0 0 1-3 3h-9"
                    data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M14 17.996h-4V10h43.998v7.996h-3.996" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M49.996 10.004v43.992H13.998V10.004M40 54a10 10 0 0 1 10-10m-36 0a10 10 0 0 1 10 10" stroke-width="2" stroke-miterlimit="10"
                    stroke="#202020" fill="none" data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M12 62h40" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer1" stroke-linejoin="round"
                    stroke-linecap="round"></path>
                  <path stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" d="M27 30.488a5 5 0 0 0 5 5c2.762 0 5-1.821 5-4.584s-2.5-4.018-5-4.582-5-1.824-5-4.584 2.238-4.584 5-4.584a5.006 5.006 0 0 1 4.93 4.166"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                  <path d="M31.996 17.154v-2.5m0 23.334v-2.5" stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer1"
                    stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
                $500
              </p>
            </div>
          </div>

      </div>
          <button style="width: 350px;" type="button " class="btn btn-dark mx-auto" [routerLink]="['/contact']" routerLinkActive="active">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Checkout Cart</title>
              <desc>A line styled icon from Orion Icon Library.</desc>
              <path data-name="layer2" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" d="M30 22H12M2 6h6l10 40h32l3.2-9.7"
                stroke-linejoin="round" stroke-linecap="round"></path>
              <circle data-name="layer2" cx="20" cy="54" r="4" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                stroke-linecap="round"></circle>
              <circle data-name="layer2" cx="46" cy="54" r="4" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                stroke-linecap="round"></circle>
              <circle data-name="layer1" cx="46" cy="22" r="16" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"
                stroke-linecap="round"></circle>
              <path data-name="layer1" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" d="M53 18l-8 9-5-5" stroke-linejoin="round"
                stroke-linecap="round"></path>
            </svg>
            Create Appointment</button>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
