/* You can add global styles to this file, and also import other style files */
/* body {
  height: 100%;
  margin: 0%;
  background: url('./assets/bbPhoto01.background.svg') no-repeat;
  background-size: cover;
} */
html {
  background: url('./assets/bbPhoto01.background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 3vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body::-webkit-scrollbar{
  width: 0.5%;
}
body::-webkit-scrollbar-thumb{
  background: rgba(115, 0, 255, 0.381);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-body{
  padding: 1vh;
}
.container{
  position: absolute;
  min-width: 98vw;
}
h1{
  font-size: 6vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(115, 0, 255, 0.579);
}


@media only screen and (min-width: 767px) {
  .container{
    margin: 22vh 0vw;
  }
}

.self-portrait{
  background-color: rgb(255, 255, 255);
  padding: 2%;
}
.card{
  overflow-y: scroll;
}

.jumbotron{
  opacity: 0.6;
  padding: 3rem 2rem;
  text-align: center;
}
